
.teaser {
  display: flex;
  margin-top: 20px;
}

h2 {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 20px;
  letter-spacing: -0.5px;
}



.title {
  flex: 1 1 100%;
  margin-top: 20px;
  margin-left: 16px;
}

.list {
  flex: 1 1 100%;
  display: inline-flex;
  margin-top: 20px;
  margin-right: 5px;
  width: 50%;
}

.boxshadow{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}